  <div class="dashboard__menu">
    <a href="/" class="home">HOME</a>
    <a href="/sales">SALES</a>
    <a href="/da">AGREEMENTS</a>
    <a href="/clients">CLIENTS</a>
    <a href="/clients/add_client">Add Client</a>
    <a href="/services">Services</a>
    <a href="/priceList">Price List</a>
  </div>