<div class="overview">
    {{> overview/overview_c_it1}} 
    {{> overview/overview_c_it2}} 
    {{> overview/overview_c_it3}}
</div>
{{!-- Scripts start here --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="/js/dist/home.js"></script>