.clients {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 250px));
  grid-gap: 15px;

  &__it1 {
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: $card-shadow;
    &__content {
      text-align: center;
    }
  }

  &__it2 {
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: $card-shadow;
    &__content {
      text-align: center;
    }
  }

  &__it3 {
    display:grid;
    grid-auto-flow: row;
    box-shadow: $card-shadow;
    &__content {
      padding: 15px;
    }
  }

  &__it4 {
    box-shadow: $card-shadow;

  }
}