.overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, 250px);
  grid-gap: 15px;

  &__it1, &__it2, &__it3 {
    box-shadow: $card-shadow;
  }
}